#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.char {
  width: 40px;
  height: 40px;
  line-height: 0;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.char .circle {
  font-size: 26px;
}

.char .circle.win {
  color: red;
}

.vs-separator {
  font-weight: 500;
}

.playground-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
}

.playground {
  border-radius: 8px;
  height: 790px;
  width: 762px;
  background: #F6F6f6;
  border: 1px solid #cecece;
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
}

.playground-info {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
}

.start-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.start-form__form {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 600px;
  margin-top: -25%;
}

.start-form__col {
  padding: 20px;
}

.spinner-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
